src/main/resources/nl/clockwork/mule/ebms/stub/ebf/flows/aanleverService.stub.processing.xml
<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright 2011 Clockwork
  
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
  
    http://www.apache.org/licenses/LICENSE-2.0
  
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<mule
	xmlns="http://www.mulesoft.org/schema/mule/core" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:spring="http://www.springframework.org/schema/beans"
	xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
	xmlns:jdbc="http://www.mulesoft.org/schema/mule/ee/jdbc"
	xmlns:smtp="http://www.mulesoft.org/schema/mule/smtp"
	xmlns:file="http://www.mulesoft.org/schema/mule/file" 
	xmlns:ftp="http://www.mulesoft.org/schema/mule/ftp" 
	xmlns:mxml="http://www.mulesoft.org/schema/mule/xml"
	xsi:schemaLocation="
		http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
		http://www.mulesoft.org/schema/mule/ee/jdbc http://www.mulesoft.org/schema/mule/ee/jdbc/current/mule-jdbc-ee.xsd
		http://www.mulesoft.org/schema/mule/smtp http://www.mulesoft.org/schema/mule/smtp/current/mule-smtp.xsd
		http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
		http://www.mulesoft.org/schema/mule/ftp http://www.mulesoft.org/schema/mule/ftp/current/mule-ftp.xsd
		http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd
	">

	<flow name="aanleverbericht.processing.service">
		<vm:inbound-endpoint path="aanleverbericht.processing.service.in" />
		<async>
			<file:outbound-endpoint connector-ref="connector.file" path="${dir.base}/aanleverService/request" outputPattern="request_#[function:datestamp:yyyyMMddHHmmSSS].xml">
				<custom-transformer class="nl.clockwork.mule.ebms.stub.ebf.transformer.EbMSMessageContentToMessageContent"/>
			</file:outbound-endpoint>
		</async>
		<message-properties-transformer>
			<add-message-property key="AANLEVERBERICHT_ERROR" value-ref="AANLEVERBERICHT_DETERMINATION_ERROR"/>
		</message-properties-transformer>
		<message-filter throwOnUnaccepted="false" onUnaccepted="aanleverBerichtToAanleverBevestiging">
			<custom-filter class="nl.clockwork.mule.ebms.stub.ebf.filter.EbMSMessageContentValidationFilter" />
		</message-filter>
		<message-properties-transformer>
			<add-message-property key="AANLEVERBERICHT_ERROR" value-ref="AANLEVERBERICHT_XSD_ERROR"/>
		</message-properties-transformer>
		<message-filter throwOnUnaccepted="false" onUnaccepted="aanleverBerichtToAanleverBevestiging">
			<!--mxml:schema-validation-filter schemaLocations="/nl/clockwork/mule/ebms/stub/ebf/xsd/Aanleveren_ebMS_2.0_v1.1.xsd"/-->
			<custom-filter class="nl.clockwork.mule.ebms.stub.ebf.filter.EbMSMessageContentXSDValidationFilter">
				<spring:property name="xsdFile" value="/nl/clockwork/mule/ebms/stub/ebf/xsd/Aanleveren_ebMS_2.0_v1.1.xsd" />
			</custom-filter>
		</message-filter>
		<!--message-properties-transformer>
			<add-message-property key="AANLEVERBERICHT_ERROR" value-ref="AANLEVERBERICHT_BERICHTSOORT_ERROR"/>
		</message-properties-transformer>
		<message-filter throwOnUnaccepted="false" onUnaccepted="aanleverBerichtToAanleverBevestiging">
			<custom-filter class="nl.clockwork.mule.ebms.stub.ebf.filter.AanleverBerichtBerichtSoortValidationFilter">
				<spring:property name="berichtSoort" ref="AANLEVERBERICHT_BERICHTSOORT_ORDER" />
			</custom-filter>
		</message-filter-->
		<message-properties-transformer>
			<delete-message-property key="AANLEVERBERICHT_ERROR"/>
		</message-properties-transformer>

		<custom-transformer name="aanleverBerichtToAanleverBevestiging" class="nl.clockwork.mule.ebms.stub.ebf.transformer.AanleverBerichtToAanleverBevestiging">
			<spring:property name="cpaId" value="${aanleverService.cpaId}"/>
			<spring:property name="service" value="${aanleverService.service}"/>
			<spring:property name="action" value="${aanleverService.response.action}"/>
		</custom-transformer>
		<async>
			<file:outbound-endpoint connector-ref="connector.file" path="${dir.base}/aanleverService/response" outputPattern="response_#[function:datestamp:yyyyMMddHHmmSSS].xml">
				<custom-transformer class="nl.clockwork.mule.ebms.stub.ebf.transformer.EbMSMessageContentToMessageContent"/>
			</file:outbound-endpoint>
		</async>
		<vm:outbound-endpoint path="ebms.content.receive.in"/>
	</flow>

</mule>
