src/main/resources/nl/clockwork/mule/ebms/flows/file.cpa.xml
<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright 2011 Clockwork
  
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
  
    http://www.apache.org/licenses/LICENSE-2.0
  
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<mule
	xmlns="http://www.mulesoft.org/schema/mule/core" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
	xmlns:jdbc="http://www.mulesoft.org/schema/mule/jdbc"
	xmlns:smtp="http://www.mulesoft.org/schema/mule/smtp"
	xmlns:file="http://www.mulesoft.org/schema/mule/file" 
	xmlns:ftp="http://www.mulesoft.org/schema/mule/ftp" 
	xmlns:mxml="http://www.mulesoft.org/schema/mule/xml"
	xmlns:script="http://www.mulesoft.org/schema/mule/scripting"
	xsi:schemaLocation="
		http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
		http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
		http://www.mulesoft.org/schema/mule/jdbc http://www.mulesoft.org/schema/mule/jdbc/current/mule-jdbc.xsd
		http://www.mulesoft.org/schema/mule/smtp http://www.mulesoft.org/schema/mule/smtp/current/mule-smtp.xsd
		http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
		http://www.mulesoft.org/schema/mule/ftp http://www.mulesoft.org/schema/mule/ftp/current/mule-ftp.xsd
		http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd
		http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd  
	">

	<flow name="file.cpa.upload">
		<file:inbound-endpoint connector-ref="connector.file.ebms"	path="${dir.upload.cpa}" moveToDirectory="${dir.upload.cpa}/processed" pollingFrequency="${dir.upload.cpa.pollingFrequency}">
			<file:filename-wildcard-filter pattern="*.xml" caseSensitive="false"/>
			<!--file:file-to-string-transformer/-->
			<object-to-string-transformer/>
		</file:inbound-endpoint>
		<component>
			<singleton-object class="nl.clockwork.mule.ebms.stub.ebf.processor.CPAInserter">
				<property key="cpaService" value-ref="cpaService"/>
			</singleton-object>
		</component>
		<vm:outbound-endpoint path="file.cpa.upload.report.in" exchange-pattern="one-way"/>
		<default-exception-strategy>
			<vm:outbound-endpoint path="file.cpa.upload.report.in" exchange-pattern="one-way">
				<script:transformer>
					<script:script engine="groovy">
						import java.io.PrintWriter;
						import java.io.StringWriter;
						import java.io.Writer;
						import org.mule.api.transport.PropertyScope;

						Writer result = new StringWriter();
						if (message.getPayload() != null)
						{
							PrintWriter pw = new PrintWriter(result);
							message.getPayload().getException().printStackTrace(pw);
						}

						message.setProperty("EBMS.REPORT","Update " + message.getProperty("originalFilename",PropertyScope.OUTBOUND) + " failed.\n\n" + result.toString(),PropertyScope.SESSION);
						result.close();

						return message;
					</script:script>
				</script:transformer>
			</vm:outbound-endpoint>
		</default-exception-strategy>
	</flow>

	<flow name="file.cpa.upload.report">
		<vm:inbound-endpoint path="file.cpa.upload.report.in" exchange-pattern="one-way"/>
		<file:outbound-endpoint connector-ref="connector.file.ebms" path="${dir.upload.cpa}/reports" outputPattern="report_#[function:datestamp:yyyyMMddHHmmSSS].txt">
			<expression-transformer returnClass="java.lang.String">
				<return-argument evaluator="header" expression="session:EBMS.REPORT" optional="true"/>
			</expression-transformer>
		</file:outbound-endpoint>
	</flow>
	
</mule>
